openapi: 3.0.3
info:
  title: Upbit REST Exchange - Account API
  description: Upbit is a leading South Korean cryptocurrency exchange operated by Dunamu Inc., offering REST and WebSocket APIs for market data retrieval, order management, account balances, and transaction history. Developers must register an Upbit account with security level 2 or higher to issue API keys. Authenticated requests use JWT bearer tokens (HS512) generated from an Access Key and Secret Key pair, while public quotation endpoints (market data, tickers, orderbooks, candles) require no authentication. Upbit supports KRW, BTC, and USDT trading markets and complies with travel-rule regulations for digital asset transfers.
  version: 1.3.2
  termsOfService: https://upbit.com/service_center/terms
  contact:
    url: https://global-docs.upbit.com/docs/support
  license:
    name: Upbit Open API Usage Agreement
    url: https://upbit.com/service_center/terms
servers:
- url: https://api.upbit.com/v1
  description: Global API endpoint
security: []
tags:
- name: Exchange - Account
  description: Account balance and portfolio endpoints — JWT required
paths:
  /accounts:
    get:
      operationId: getBalance
      summary: Get account balances
      description: Returns all asset balances for the authenticated account including available and locked amounts.
      tags:
      - Exchange - Account
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of account balances
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: Currency code (e.g., BTC, KRW)
                    balance:
                      type: string
                      description: Available balance (decimal string)
                    locked:
                      type: string
                      description: Locked balance (decimal string)
                    avg_buy_price:
                      type: string
                      description: Average buy price (decimal string)
                    avg_buy_price_modified:
                      type: boolean
                      description: Whether the average buy price has been manually modified
                    unit_currency:
                      type: string
                      description: Quote currency for average buy price
        '401':
          description: Unauthorized — missing or invalid JWT
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT HS512 token generated from Access Key and Secret Key. Include query_hash and query_hash_alg=SHA512 in the payload when query parameters or JSON body exist.
externalDocs:
  description: Upbit Developer Center
  url: https://global-docs.upbit.com/reference
