openapi: 3.0.3
info:
  title: Upbit REST Exchange - Account Exchange - Service API
  description: Upbit is a leading South Korean cryptocurrency exchange operated by Dunamu Inc., offering REST and WebSocket APIs for market data retrieval, order management, account balances, and transaction history. Developers must register an Upbit account with security level 2 or higher to issue API keys. Authenticated requests use JWT bearer tokens (HS512) generated from an Access Key and Secret Key pair, while public quotation endpoints (market data, tickers, orderbooks, candles) require no authentication. Upbit supports KRW, BTC, and USDT trading markets and complies with travel-rule regulations for digital asset transfers.
  version: 1.3.2
  termsOfService: https://upbit.com/service_center/terms
  contact:
    url: https://global-docs.upbit.com/docs/support
  license:
    name: Upbit Open API Usage Agreement
    url: https://upbit.com/service_center/terms
servers:
- url: https://api.upbit.com/v1
  description: Global API endpoint
security: []
tags:
- name: Exchange - Service
  description: Service status and API key endpoints — JWT required
paths:
  /status/wallet:
    get:
      operationId: getServiceStatus
      summary: Get wallet service status
      description: Returns the current operational status of wallet services for all currencies including block sync status.
      tags:
      - Exchange - Service
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of wallet service statuses
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: Currency code
                    wallet_state:
                      type: string
                      description: Wallet state (e.g., working, withdraw_only, deposit_only, paused)
                    block_elapsed_minutes:
                      type: number
                      nullable: true
                      description: Minutes since last block (null if N/A)
                    net_type:
                      type: string
                      description: Network type
                    network_name:
                      type: string
                      description: Network name
        '401':
          description: Unauthorized
  /api_keys:
    get:
      operationId: listApiKeys
      summary: List API keys
      description: Returns all API keys associated with the authenticated account along with their expiration dates.
      tags:
      - Exchange - Service
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    access_key:
                      type: string
                      description: API access key (masked)
                    expire_at:
                      type: string
                      format: date-time
                      description: API key expiration time
        '401':
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT HS512 token generated from Access Key and Secret Key. Include query_hash and query_hash_alg=SHA512 in the payload when query parameters or JSON body exist.
externalDocs:
  description: Upbit Developer Center
  url: https://global-docs.upbit.com/reference
